@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body {
    font-family: Orbitron, sans-serif;
}
#hero {
    color: white;
    background-repeat: no-repeat;
    text-align: center;
    background-image: url("images/Space\ Science\ Tech\ GIF\ by\ European\ Space\ Agency\ -\ ESA.gif");
    background-size: cover;
    padding: 10px 0px 40px 0px;
}
#hero h1{
    text-shadow: 0px 0px 4px black;
}
#underline {
    /* text-decoration: underline; */
    border-bottom: 4px solid white;
}
#main-logo {
    width: 150px;
    margin-top: 20px;
    background-color: white;
    padding: 5px;
}
#terms{
   color: #ff6f61;
   text-align: center;
}
.btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}