body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button{
    height: 80px;
    width: 200px;
    font-size: 2rem;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    transition: all 1s ease-out;
    border:none;
    letter-spacing: 0.5px;
    border: 2px solid black;
}
button:hover{
    height: 100px;
    width: 250px;
    font-weight: bold;
    border: 5px solid black; 
    letter-spacing: 5px;
}