#ticker {
    font-size: 1.5rem;
    color: green;
}

.triangle{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: 5px;
}
.triangle-green {
    border-left-color: green;
}
.triangle-red {
    border-left-color: red;
}