body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: start;
}
button{
    color: white;
    height: 50px;
    width: 200px;
    background-color: red;
    border: none;
    border-radius: 10px;
    transition-property: translate();
    transition-duration: 5s;
}
#ease:hover{
 transition-timing-function: ease;
}
#linear:hover{
 transition-timing-function: linear;
}
#ease-in:hover{
 transition-timing-function: ease-in;
}
#ease-out:hover{
 transition-timing-function: ease-out;
}
#ease-in-out:hover{
 transition-timing-function: ease-in-out;
}
button:hover{
    transform: translate(500px, 0);
}