* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('images/station.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
h2 {
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
}

button{
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#reset-btn {
    background-color: red;
    color: white;
    margin: 15px  0;
}
input[type="number"] {
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}