/* body {
    background-color: yellow;
    color: red;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    margin-top: 20px;
} */

/* p {
    font-weight: normal;
    font-size: 16px;
} */

/*  body{
    margin: 0;
 } */
.google-container{
    margin-top: 100px;
}
#google-logo {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#google-search {
    border-radius: 24px;
    padding: 10px 30px;
    border-color: gray;
    width: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    line-height: 24px;
}
#google-search:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
.google-btn-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.google-btn{
    padding: 8px 16px;
    border: none;
    font-size: 14px;  
    background: #dfe1e5;
    border-radius: 4px;
}
.box{
    height: 100px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: blue;
    margin: 20px 0;
}
.box3{
    background-color: green;
}