* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#hero{
    text-align: center; 
    background-color: black;
    color: #f0f0f0;   
    padding: 15px 10px;
    height: 30%;
}
#hero-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#hero-img{
    width: 80px;
    height: 90px;
    border-radius: 50%;
}
.f-l{
    font-size: 2rem;
}
#message-div,#ticker-list{
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
}
#stock-form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#ticker-input{
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
#ticker-input:focus{
    outline: none;
    border-color: #007BFF;
}
#stock-form-btn, #report-btn{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
#content {
    text-align: center;
    margin-bottom: 10px;
}
#report-btn{
    border-radius: 5px;
    margin-bottom: 10px;
}
#ticker-prediction{
    font-size: small;
    font-weight: bold;
    font-style: italic;
}
footer{
    text-align: center;
    padding: 10px;
    font-size: small;
    background-color: #333;
    color: white;
    height: 20%;
}
.loading-spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #007BFF; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}
#report-loading-text{
    text-align: center;
    font-weight: bold;
    margin: 50px 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#report-loading{
    display: none;
}
#stock-report{
    text-align: center;
}