body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button{
    height: 100px;
    width: 200px;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    overflow: hidden;
}

button::before{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    transition: transform 1s;
}
button:hover::before{
    transform: rotate(0deg);
}