body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
button{
    height: 100px;
    width: 200px;
    font-size: 2rem;
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: color 1s;
    overflow:hidden;
}

button::before{
    content: " ";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: white;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition-property: left;
    border-radius: 0 0 50% 50%;
    transition: all 1s;
}
button:hover::before{
  transform: translateY(0);
}
button:hover{
    color: black;
}