@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Permanent Marker', cursive;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
}

h1 {
    width: 200px;
    line-height: 22px;
    text-align: center;
    transform: rotate(-10deg);
    color: rgb(187, 107, 26);
    text-shadow: 3px 3px #000;
}

#stage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.fighter {
    text-align: center;
}

.fighter-info {
    background-color: rgb(187, 107, 26);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    text-align: center;
    font-size: 14px;
}

.emoji {
    font-size: 80px;
    text-shadow: 3px -1px 10px #000;
}

.health-bar {
    font-family: 'Permanent Marker', cursive;
    padding: 2px 10px;
    font-size: 13px;
    background-color: rgb(187, 107, 26);
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
    width: max-content;
    margin: 0 auto;
}

.btn {
    font-family: 'Permanent Marker', cursive;
    padding: 2px 10px;
    font-size: 13px;
    background-color: rgb(187, 107, 26);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px #000;
}

.btn:hover {
    background-color: rgb(255, 140, 0);
}

#reset-btn {
    background-color: rgb(0, 128, 0);
}

#reset-btn:hover {
    background-color: rgb(34, 177, 76);
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

select {
    padding: 1px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 1px 1px 3px #000;
    color: #fff;
    font-family: 'Permanent Marker', cursive;
}